@import '~normalize.css';

@import 'layout/base';

@import './header.scss';

@import './descriptionSection.scss';

@import './imageSection.scss';

@import './../style/util/variable';

h1 {
  font-size: 2em !important;
  margin: 0.67em 0;
}

// kQiVoP
.textBreakWord {
  overflow-wrap: break-word;
  // white-space: nowrap;
  font-size: 30px;
  line-height: 1.25;
}

// ijYuIo
.bodySecMargin {
  margin: 100px 0 0 0;
  padding: 0;
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  position: relative;
  height: 1050px !important; // make the description col full length
}

// btn

.fdJCKr {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

// cIaeyZ
.generalBtnStyle {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  line-height: 40px;
  height: 40px;
  padding-left: 22px;
  padding-right: 22px;
  min-width: auto;
  border: 1px solid transparent;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 900;
  font-family: inherit;
  transition: all 0.12s ease-in-out 0s;
  transform-origin: center center;
  user-select: none;
  cursor: pointer;
}

@media screen and (min-width: 981px) {
  .creatorSecStyle {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 768px) {
  .creatorSecStyle {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media screen and (min-width: 578px) {
  .creatorSecStyle {
    padding-left: 24px;
    padding-right: 24px;
  }
}

// creator jsKwbJ
.creatorSecStyle {
  margin: 0 0 16px;
  padding: 0 16px;
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  min-height: 0;
  min-width: 0;
  max-width: 100%;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

// ipwLBG
.descriptionDetailsTitleAlign {
  flex-flow: row nowrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  max-width: initial;
  min-width: 100%;
  width: auto;
  border-bottom: 1px solid $gray;
  padding: 0 16px;
}

.descriptionDetailsTitleAlign > :not(:last-child) {
  margin-right: 22px;
}

.gtFsLw {
  border-color: rgba(4, 4, 5, 0.1);
  color: $black;
  background: transparent;
  border: 1px solid lightgray;
  margin-right: 10px;
}

// jDJikH
.dropDownMenuStyle {
  height: 40px;
  width: 40px;
  border: 1px solid lightgray;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 0.12s ease-in-out 0s;
  border-radius: 40px;
  transform-origin: center center;
}

// dVRMhB
.headerMenuText > * {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-direction: column;
}

// jDfoFC
.grayBtn {
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: stretch;
  align-items: stretch;
  border: 1px solid transparent;
  background: rgba($black, 0.07);
  height: 40px;
  padding: 0 8px 0 16px;
  border-radius: 24px;
  transition: all 0.12s ease-in-out 0s;
}

// dnhhwc
.btnTextAlign {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0;
  min-width: 0;
  max-width: 100%;
  flex-basis: 20px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

//  fXWnrD
.questionMarkStyle {
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: $darkGray;
}

// kqoqsC
.questionMarkMargin {
  margin: 0;
  padding: 0;
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0;
  min-width: 0;
  max-width: 100%;
  width: 14px;
  height: 14px;
}

// gworOZ
.searchBarStyle {
  margin: 0 0 0 8px;
  padding: 0;
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
  justify-content: center;
}

// gFNGJh
.searchBarTextStyle {
  background: transparent;
  border-width: 0;
  padding: 0;
  color: rgba(4, 4, 5, 0.8);
  font-weight: 500;
  font-family: inherit;
  overflow: hidden;
  outline: none;
  width: 100%;
}
