html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  // font-weight: normal;
  font-weight: 400;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

// .titleStyle {
//   transition: all 0.12s ease-in-out 0s;
//   color: rgba(4, 4, 5, 0.5);
//   height: 40px;
//   display: flex;
//   -webkit-box-align: center;
//   align-items: row;
//   flex-direction: row;
//   cursor: pointer;
// }
